<style>
@media screen {
  .print-format {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
  }
}
/* mm as mmmmm because frappe.utils.pdf.read_options_from_html */
@media print {
  .print-format {
    margin-top: {{ (header_height or 10) + (6 if doc.po_no else 0) }}mmmm;
    margin-left: {{ side_margin or 10 }}mmmm;
    margin-right: {{ side_margin or 10 }}mmmm;
    margin-bottom: {{ footer_height or 10 }}mmmm;
  }
}
.iwex-header {
  padding-bottom: 4pt;
  border-bottom: 1px solid #000000;
}
.iwex-header h1, .iwex-header h2 {
  font-size: 18pt;
}
.iwex-header h1, .iwex-header h2, .iwex-header p {
  margin: 0;
  line-height: 1.3;
}
.iwex-footer {
  /* reset hardcoded value: copied frappe/templates/print_formats/pdf_header_footer.html */
  margin-top: -15mm;
  font-size: 6pt;
}
.iwex-section {
  margin-bottom: 4pt;
}
.iwex-section * {
  margin: 0;
  line-height: 1.3;
}
.iwex-customer_name {
  font-size: 12pt;
}
.iwex-page {
  margin: 0;
  padding: 0;
}
.iwex-page .table {
  margin: 4pt 0;
  table-layout: fixed;
  width: 100%;
  page-break-inside: avoid;
}
.iwex-page .table th, .iwex-page .table td {
  padding: 2pt 4pt !important;
  line-height: 1.3;
  vertical-align: middle !important;
}
.iwex-page .iwex-table tbody th, .iwex-page .iwex-table tbody td {
  height: 3.6em;
  border-top: none !important;
  border-bottom: none !important;
}
.iwex-page .table th {
  font-weight: normal;
  text-align: center;
}
.iwex-col-no {
  width: 22pt;
}
.iwex-col-description {
}
.iwex-col-qty {
  width: {{ col_width_qty or '35pt' }};
}
.iwex-col-rate {
  width: {{ col_width_rate or '75pt' }};
}
.iwex-col-tax {
  width: {{ col_width_tax or '65pt' }};
}
.iwex-col-total {
  width: {{ col_width_amount or '75pt' }};
}
.iwex-page .table th.text-right, .iwex-page .table td.text-right {
  text-align: right;
}
.iwex-page .table tbody td, .iwex-page .table tfoot th {
  font-size: 10pt;
}
tr.iwex-table-row-accent th {
  background-color: #C0C0C0;
}
tr.iwex-table-row-taxbreakup th {
  font-size: 10pt;
  background-color: #C0C0C0;
}
tr.iwex-table-row-smalltext > th {
  font-size: 7pt;
}
tr.iwex-discount td {
  background-color: #C0C0C0;
}
.iwex-invoice-heading {
  text-transform: uppercase;
}
.iwex-label {
  text-decoration: underline;
}
caption.iwex-label {
  padding: 0 0 3px;
}
.iwex-strong {
  font-weight: bold;
}
.iwex-text-regular {
  font-weight: normal;
}
.iwex-hr-thin {
  margin: 4pt 0;
}
.iwex-text-small {
  font-size: 9pt;
}
.iwex-text-smaller {
  font-size: 7pt;
}
tr.iwex-table-row-ctc > td {
  font-size: 11pt;
}
tr.iwex-table-row-ctc > td .iwex-strong {
  font-size: 12pt;
}
.iwex-text-larger {
  font-size: 12pt;
  text-transform: uppercase;
}
.iwex-aside {
  margin-top: 8pt;
}
.iwex-po-row {
  background-color: #C0C0C0;
  padding: 2pt 0;
}
.iwex-line {
  display: block;
}
@media screen {
  .iwex-screen-hidden {
    display: none;
  }
}
</style>
