{% set num_pages = (doc.items|count / num_item_rows)|round(0, 'ceil')|int %}

{% set company_phone, company_email, co_abbr = frappe.db.get_value(
  'Company', doc.company, ['phone_no', 'email', 'abbr']
) %}

{% set gst_taxes = ['CGST', 'SGST', 'IGST'] %}
{% set taxes = dict() %}
{% for tax in doc.taxes %}
  {% set tax_name = tax.account_head|replace(' - ' ~ co_abbr, '') %}
  {% if tax_name in gst_taxes %}
    {% set _ = taxes.update({tax_name: tax.rate or 0}) %}
  {% endif %}
{% endfor %}

{% set item_cols = 5 + taxes.keys()|length %}
{% set tax_cols = 4 + taxes.keys()|length %}

{% set brought_fwd = dict(count=0, amount=0, total=0) %}
{% set tax_breakup = dict() %}

{% for page in range(1, num_pages + 1) %}
<div class="page-break iwex-page">
  <div class="iwex-header{{ ' iwex-screen-hidden' if page > 1 else '' }}">
    <div class="row">
      <div class="col-xs-7">
        <h1 class="iwex-strong">{{ doc.company }}</h1>
        {% if doc.company_gstin %}
        <p><span class="iwex-label">GSTIN</span>: {{ doc.company_gstin }}</p>
        {% endif %}
        {% if doc.company_address %}
        <p><span class="iwex-label">Address</span>: {{ doc.company_address_display }}</p>
        {% endif %}
        {% set company_phone, company_email, co_abbr = frappe.db.get_value('Company', doc.company, ['phone_no', 'email', 'abbr']) %}
        {% set pipe = joiner('|') %}
        <p>
          {% if company_phone %} {{ pipe() }}
          <span class="iwex-label">Phone</span>: {{ company_phone }}
          {% endif %}
          {% if company_email %} {{ pipe() }}
          <span class="iwex-label">Email</span>: {{ company_email }}
          {% endif %}
        </p>
      </div>
      <div class="col-xs-5 text-right">
        <h2 class="iwex-strong">GST INVOICE {% if doc.status == 'Draft' %}<span class="iwex-text-small iwex-text-regular">(DRAFT)</span>{% endif %}</h2>
        {% if doc.invoice_copy %}
        <p class="iwex-invoice-heading">{{ doc.invoice_copy }}</p>
        {% endif %}
        <p class="iwex-strong"><span class="iwex-label">Invoice ID</span>: {{ doc.name }}</p>
        <p><span class="iwex-label">Invoice Date</span>: {{ doc.get_formatted('posting_date') }}</p>
        <p><span class="iwex-label">Eligible for Reverse GST</span>: {{ 'Yes' if doc.reverse_charge == 'Y' else 'No' }}</p>
      </div>
    </div>
    <hr class="iwex-hr-thin" />
  </div>
  <div{{ ' class="iwex-screen-hidden"' if page > 1 else '' }}>
    {% if doc.po_no %}
    <div class="row iwex-bg-accent iwex-po-row">
      <div class="col-xs-6 text-center">
        <span class="iwex-label">PO ID</span>: {{ doc.po_no }}
      </div>
      <div class="col-xs-6 text-center">
        <span class="iwex-label">PO Date</span>: {{ doc.get_formatted('po_date') }}
      </div>
    </div>
    <hr class="iwex-hr-thin" />
    {% endif %}
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <p class="col-xs-3 text-right">Billed To:</p>
          <p class="col-xs-9">
            <span class="iwex-strong iwex-customer_name">{{ doc.customer_name }}</span>
            {% if doc.customer_address %}
            <br />{{ doc.address_display }}
            {% endif %}
          </p>
        </div>
        <div class="row iwex-strong">
          <p class="col-xs-3 text-right">GSTIN:</p>
          <p class="col-xs-9">{{ doc.billing_address_gstin }}</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <p class="col-xs-5 text-right">Shipped To:</p>
          <p class="col-xs-7">{{ html2text(doc.shipping_address or '') }}</p>
        </div>
        {% if doc.shipping_mode %}
        <div class="row">
          <p class="col-xs-5 text-right">Shipping Mode:</p>
          <p class="col-xs-7">{{ doc.shipping_mode }}</p>
        </div>
        {% endif %}
        {% if doc.vehicle_no %}
        <div class="row">
          <p class="col-xs-5 text-right">Vehicle No:</p>
          <p class="col-xs-7">{{ doc.vehicle_no }}</p>
        </div>
        {% endif %}
        <div class="row">
          <p class="col-xs-5 text-right">Place of Supply:</p>
          <p class="col-xs-7">{{ doc.place_of_supply }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="iwex-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="iwex-col-no">#</th>
          <th class="iwex-col-description">HSN/SAC<br /><span class="iwex-strong">Item Description</span> (Serial No.)</th>
          <th class="iwex-col-qty">Qty<br />UOM</th>
          <th class="iwex-col-rate">Rate<br />T. Value</th>
          {% for tax, _ in taxes|dictsort %}
            <th class="iwex-col-tax">{{ tax }} %<br />Amount</th>
          {% endfor %}
          <th class="iwex-col-total">Gross<br />Amount</th>
        </tr>
        <tr class="iwex-table-row-smalltext iwex-table-row-accent">
          {% for x in range(item_cols) %}
          <th>{{ x + 1 }}</th>
          {% endfor %}
        </tr>
        {% if brought_fwd.count %}
        <tr class="iwex-table-row-accent">
          <th>{{ brought_fwd.count }}</th>
          <th>Brought Forward</th>
          <th></th>
          <th class="text-right">{{ frappe.utils.fmt_money(brought_fwd.amount, currency=doc.currency) }}</th>
          {% for tax, _ in taxes|dictsort %}
            <th class="text-right">
              {{ frappe.utils.fmt_money(brought_fwd.get(tax), currency=doc.currency) }}
            </th>
          {% endfor %}
          <th class="text-right">{{ frappe.utils.fmt_money(brought_fwd.total, currency=doc.currency) }}</th>
        </tr>
        {% endif %}
      </thead>
      {% set start_idx = (page - 1) * num_item_rows %}
      {% set end_idx = [page * num_item_rows, doc.items|count]|min %}
      <tbody class="iwex-tbody">
        {% set subtotal = dict(**brought_fwd) %}
        {% for x in range(start_idx, page * num_item_rows) %}
        {% set item = doc.items[x] if x < doc.items|count else None %}
        {% if item %}
        <tr>
          <td class="text-center">{{ item.idx }}</td>
          <td>
            {% if item.gst_hsn_code %}
            <span class="text-right">[{{ item.gst_hsn_code }}]</span><br />
            {% endif %}
            <span class="iwex-strong">{{ item.description }}</span>
            {% if item.serial_no %}
            <br />
            <span class="iwex-text-smaller">({{ item.serial_no.replace('\n', ', ') }})</span>
            {% endif %}
            </td>
            <td class="text-center">{{ item.get_formatted('qty') }}<br />{{ item.uom }}</td>
            {% set rate = 'price_list_rate' if item.price_list_rate else 'rate' %}
            <td class="text-right">
              {{ item.get_formatted(rate) }}<br />{{ item.get_formatted('amount') }}
            </td>
            {% set _ = subtotal.update({
                'count': subtotal.count + 1,
                'amount': subtotal.amount + item.amount,
            }) %}
            {% if item.gst_hsn_code %}
              {% set _ = tax_breakup.setdefault(item.gst_hsn_code, {}) %}
              {% set _ = tax_breakup[item.gst_hsn_code].update({
                'taxable': tax_breakup[item.gst_hsn_code].get('taxable', 0) + item.amount,
              }) %}
            {% endif %}
            {% set rates = json.loads(item.item_tax_rate) %}
            {% set with_taxes = namespace(amount=item.amount) %}
            {% for tax, rate in taxes|dictsort %}
              <td class="text-right">
                {% set r = rates.get(tax ~ ' - ' ~ co_abbr, rate) %}
                {{ r }}%
                <br />
                {% set tax_amount = item.amount * r / 100 %}
                {{ frappe.utils.fmt_money(tax_amount, currency=doc.currency) }}
                {% set with_taxes.amount = with_taxes.amount + tax_amount %}
                {% set _ = subtotal.update({tax: subtotal.get(tax, 0) + tax_amount}) %}
                {% if item.gst_hsn_code %}
                  {% set _ = tax_breakup[item.gst_hsn_code].update({
                    tax: tax_breakup[item.gst_hsn_code].get(tax, 0) + tax_amount,
                    'total': tax_breakup[item.gst_hsn_code].get('total', 0) + tax_amount,
                  }) %}
                {% endif %}
              </td>
            {% endfor %}
            <td class="text-right">{{ frappe.utils.fmt_money(with_taxes.amount, currency=doc.currency) }}</td>
            {% set _ = subtotal.update({'total': subtotal.total + with_taxes.amount}) %}
          </tr>
        {% else %}
        <tr class="iwex-table-row-smalltext">
          {% for _ in range(item_cols) %}
          <td><br /></td>
          {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
        <tfoot>
          <tr class="iwex-table-row-accent">
            <th>{{ subtotal.count }}</th>
            <th>{{ 'Subtotal' if page < num_pages else 'Total' }}</th>
            <th></th>
            <th class="text-right">{{ frappe.utils.fmt_money(subtotal.amount, currency=doc.currency) }}</th>
            {% for tax, _ in taxes|dictsort %}
              <th class="text-right">
                {{ frappe.utils.fmt_money(subtotal.get(tax), currency=doc.currency) }}
              </th>
            {% endfor %}
            <th class="text-right">{{ frappe.utils.fmt_money(subtotal.total, currency=doc.currency) }}</th>
          </tr>
          {% set _ = brought_fwd.update({
            'count': brought_fwd.count + subtotal.count,
            'amount': brought_fwd.amount + subtotal.amount,
            'total': brought_fwd.total + subtotal.total,
          }) %}
          {% for tax, _ in taxes|dictsort %}
            {% set _ = brought_fwd.update({tax: brought_fwd.get(tax, 0) + subtotal[tax]}) %}
          {% endfor %}
          {% if page == num_pages %}
          <tr class="iwex-table-row-accent">
            <td colspan="3" class="text-center">
              Round Off: {{ doc.get_formatted('rounding_adjustment') }}
            </td>
            <td colspan="{{ item_cols - 3 }}" class="text-center">
              GST Total: {{ doc.get_formatted('total_taxes_and_charges') }}
            </td>
          </tr>
          {%- if doc.discount_amount -%}
          <tr class="iwex-table-row-accent iwex-table-row-ctc iwex-discount">
          	<td colspan="{{ item_cols }}" class="text-center">
              Less additional Discount: {{ doc.get_formatted("discount_amount") }}
            </td>
          </tr>
          {%- endif -%}
          <tr class="iwex-table-row-accent iwex-table-row-ctc">
            <td colspan="{{ item_cols }}" class="text-center">
              Grand Total: <span class="iwex-strong">{{ doc.get_formatted('rounded_total') }}</span><br />
              ({{ doc.in_words }})
            </td>
          </tr>
          {% endif %}
        </tfoot>
      </tbody>
    </table>
  </div>
  {% if page == num_pages %}
  <div>
    <div class="iwex-label">Tax Breakup:</div>
    <table class="table table-bordered">
      <thead>
        <tr class="iwex-table-row-taxbreakup">
          <th class="iwex-col-no">#</th>
          <th>HSN/SAC</th>
          <th class="iwex-col-rate">Taxable Value</th>
          {% set labels = ['A', 'B', 'C'] %}
          {% for tax, _ in taxes|dictsort %}
            <th class="iwex-col-tax">{{ tax }} ({{ labels[loop.index0] }})</th>
          {% endfor %}
          <th class="iwex-col-total">Total ({{ labels[:taxes.keys()|length]|join('+') }})</th>
        </tr>
      </thead>
      <tbody>
        {% for hsn, amounts in tax_breakup|dictsort %}
        <tr>
          <td class="text-center">{{ loop.index }}</td>
          <td>{{ hsn }}</td>
          <td class="text-right">
            {{ frappe.utils.fmt_money(amounts.get('taxable'), currency=doc.currency) }}
          </td>
          {% for tax, _ in taxes|dictsort %}
          <td class="text-right">{{ frappe.utils.fmt_money(amounts.get(tax), currency=doc.currency) }}</td>
          {% endfor %}
          <td class="text-right">{{ frappe.utils.fmt_money(amounts.get('total'), currency=doc.currency) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if page == num_pages and doc.terms %}
  <div>
    <div class="row">
      <div class="col-xs-12">
        <div class="iwex-label">Terms &amp; Conditions:</div>
        <p class="iwex-text-small">{{ doc.terms }}</p>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="iwex-footer">
    {% if page == num_pages %}
      {% set pipe = joiner('|') %}
      <div class="row iwex-text-small">
        <div class="col-xs-12">
          <p>
            {% if bank_details %} {{ pipe() }}
            <span class="iwex-label">Bank Details</span>: {{ bank_details }}
            {% endif %}
            {% if payment_methods %} {{ pipe() }}
            <span class="iwex-label">Payment</span>: {{ payment_methods }}
            {% endif %}
          </p>
        </div>
      </div>
      <hr class="iwex-hr-thin" />
      <div class="row iwex-aside iwex-text-smaller">
        <div class="col-xs-4">
          <p>Received goods in Good Condition</p>
          <br /><br />
          <p>Name, Mobile &amp; Signature of the receiver.</p>
        </div>
        <div class="col-xs-4 text-center iwex-text-small">
          <div class="iwex-strong iwex-text-larger">Thank You</div>
          <p>for being our Customer.<br />Look forward to serve you again.</p>
        </div>
        <div class="col-xs-4">
          <p>Prepared by: {{ frappe.db.get_value("User", frappe.user, "first_name") }}</p>
          <br /><br />
          <p class="text-right">Company Stamp &amp; Signature</p>
        </div>
      </div>
    {% endif %}
    <hr class="iwex-hr-thin iwex-screen-hidden" />
    <div class="row iwex-screen-hidden iwex-text-footer-last">
      <div class="col-xs-12 text-center">
        <span class="iwex-label">NB</span>: Company Stamp or Signature not required, if this document has received by email.
      </div>
    </div>
    <div class="row iwex-screen-hidden iwex-text-footer-last">
      <div class="col-xs-4 text-left">GST Invoice: {{ doc.name }}</div>
      <div class="col-xs-4 text-center">Dated: {{ doc.get_formatted('posting_date') }}</div>
      <div class="col-xs-4 text-right">Page {{ page }} of {{ num_pages }}</div>
    </div>
    {% if page < num_pages %}
    <div class="row iwex-screen-hidden iwex-text-footer-last">
      <div class="col-xs-12 text-right">To be continued in the next page</div>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
